<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Chocolate</title>
</head>

<body>
<h1>List of chocolate
</h1>
<table class="table table-striped table-responsive-md">
    <tr>
        <th>Edit</th>
        <th>Delete</th>
        <th>Add to cart</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr th:each="chocolateModel : ${chocolateModels}">
        <td><a th:href="@{/chocolate/update/{id}(id=${chocolateModel.id})}">Edit</a></td>
        <td><a th:href="@{/chocolate/delete/{id}(id=${chocolateModel.id})}">Delete</a></td>
        <td><a th:href="@{/chocolate/addToCart/{id}(id=${chocolateModel.id})}">Add to cart</a></td>

        <td th:text="${chocolateModel.name}">String text</td>
        <td th:text="${chocolateModel.price}">String text</td>
        <!--<td th:text="${authorDto.bookAuthors}">String text</td>-->
        <!--<tr th:each="book : ${authorDto.books}">-->
        <!--<td th:text="${book.title}">String text</td>-->
        <!--</tr>-->
    </tr>
    <div class="col-md-6 mt-5">
        <a th:href="@{/chocolate/add-chocolate}"/><button type="submit" text="Add Chocolate" th:action="@{/chocolate/add-chocolate}" value="Add Chocolate" class="btn btn-primary"> Add chocolate </button>>
    </div>
</table>
</body>
</html>